<footer>
    <img class="footer-logo" src="./logo-2.svg" alt="">
    <div class="footer-socials">
        <a href="#"><img src="./website.svg" alt=""></a>
        <a href="https://www.facebook.com/codersgyan"><img src="./facebook.svg" alt=""></a>
        <a href="https://twitter.com/CoderGyan"> <img src="./twitter.svg" alt=""></a>
        <a href="#"> <img src="./pintrest.svg" alt=""></a>
        <a href="https://www.instagram.com/codersgyan/"> <img src="./instagram.svg" alt=""></a>
    </div>
    
</footer>