<section id="about" class="about">
    <div class="container">
        <div class="flex-1" >
            <img class="about-me-img" src="./man-2.jpeg" alt="">
        </div>
        <div class="flex-1 right">
            <h1>About <span>Me</span></h1>
            <h3>Hello! i’m Kamsakumar.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut
                labore et
                dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet consectetur adipisicing elit sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.

                Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat</p>
            <div class="social">
                <a href="#"><img src="./website.svg" alt=""></a>
                <a href="https://www.facebook.com/codersgyan"><img src="./facebook.svg" alt=""></a>
                <a href="https://twitter.com/CoderGyan"> <img src="./twitter.svg" alt=""></a>
                <a href="#"> <img src="./pintrest.svg" alt=""></a>
            </div>
        </div>
    </div>
</section>