section{
  margin-top: 50px;
}
section.services{
  background:#F2F2F2;
}
.section-heading{
    color:#070606; 
    padding-top: 50px;
    margin-top: 100px;
    text-align: center;
    margin-bottom:1rem;
    line-height: 0.5;
   }
   .section-heading span{
     color:#3DCFD3;
   }
   .section-heading + p{
    color:#898989;
    font-family:'Lato', sans-serif;
    margin-bottom:8rem;
    text-align: center;
   }
   
   section.services .card-wrapper{
     display:grid;
     grid-template-columns: repeat(3, 1fr);
     grid-column-gap:2rem;
     grid-row-gap:6rem;
   }
   section.services .card-wrapper .card{
     background:#FFFFFF;
     padding: 3rem 2rem;
     position:relative;
     padding-top:5rem;
     text-align: center;
     transition: all .3s ease;
     -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
     -ms-transition: all .3s ease;
     -o-transition: all .3s ease;
   }
   section.services .card-wrapper .card img{
     position: absolute;
     top:-3.5rem;
     left:50%;
     transform: translateX(-50%);
     -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
     -o-transform: translateX(-50%);
   }
   section.services .card-wrapper .card h2{
     font-weight: 400;
     font-size: 1.2rem;
     margin-bottom:0.5rem;
   }
   section.services .card-wrapper .card p{
     font-family: 'Lato', sans-serif;
     color:#898989;
     line-height:1.6;
   }
   
   section.services .card-wrapper .card:hover{
     background: #161616;  
   }
   section.services .card-wrapper .card:hover h2, section.services .card-wrapper .card:hover p{
     color:#FFFFFF;
   }