<section id="services" class="services">
    <div class="container">
        <h1 class="section-heading"><span>Our </span>Services</h1>
        <p>I am provide high standar clean website for your business solutions</p>
        <div class="card-wrapper">
            <div class="card">
                <img src="./brush.svg" alt="">
                <h2>Graphic Design</h2>
                <p>There are many variations of passages of but the majority have suffered alteration in some
                    form.
                </p>
            </div>
            <div class="card">
                <img src="./code.svg" alt="">
                <h2>AI workings</h2>
                <p>There are many variations of passages of but the majority have suffered alteration in some
                    form.
                </p>
            </div>
            <div class="card">
                <img src="./bag.svg" alt="">
                <h2>Business supports</h2>
                <p>There are many variations of passages of but the majority have suffered alteration in some
                    form.
                </p>
            </div>
            <div class="card">
                <img src="./desktop.svg" alt="">
                <h2>Desktop application</h2>
                <p>There are many variations of passages of but the majority have suffered alteration in some
                    form.
                </p>
            </div>
            <div class="card">
                <img src="./media.svg" alt="">
                <h2>Video Edditing</h2>
                <p>There are many variations of passages of but the majority have suffered alteration in some
                    form.
                </p>
            </div>
            <div class="card">
                <img src="./phone.svg" alt="">
                <h2>Mobile app design</h2>
                <p>There are many variations of passages of but the majority have suffered alteration in some
                    form.
                </p>
            </div>
        </div>
    </div>
</section>