.flex{
  display:flex;
}
.items-center{
  align-items:center;
}
.justify-between{
  justify-content: space-between;
}

section.contact .card-wrapper{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:3rem;
  }

  section.contact .section-heading{
    text-align: center;
  }

  section.contact .section-heading span{
    color: #3DCFD3;
  }

  .container p{
    text-align: center;
  }

  section.contact .card-wrapper .card{
    text-align: center;
  }
  section.contact .card-wrapper .card img{
    margin-bottom: 3rem;
  }
  section.contact .card-wrapper .card h1{
    font-weight:400;
    margin-bottom:1rem;
  }
  section.contact .card-wrapper .card h6{
    font-size:1rem;
    color:#898989;
    font-weight:400;
    margin-bottom:4rem;
  }
  
  section.contact .input-wrap{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:2rem;
    margin-bottom:2rem;
  }
  section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
  }
  section.contact .input-wrap-2 input{
    margin-bottom:2rem;
  }
  section.contact input{
    padding:0.5rem;
    border:1px solid #F2F2F2;
    font-size: 0.9rem;
  }
  section.contact .input-wrap-2 textarea{
    padding:0.5rem;
    border:1px solid #F2F2F2;
    font-size: 0.9rem;
  }
  section.contact .input-wrap-2 textarea:focus, section.contact input:focus{
    outline:none;  
  }
  section.contact .btn-wrapper{
    text-align: center;
    margin-top:2rem;
  }

  button{
    margin-bottom: 30px;
  }
  .btn{
    align-items: center;
    padding:0.8rem 3rem;
    font-size:1rem;
    font-weight:600;
    border:2px solid transparent;
    outline:none;
    cursor:pointer;
    text-transform: uppercase;
    transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
  }
  .btn-primary{
    background:#3DCFD3;
    color:#070606;
  }
  .btn-primary:hover{
    background:transparent;
    border-color: #3DCFD3;
    color:#3DCFD3;
  }
  .btn-secondary{
    background:transparent;
    color:#3DCFD3;
    border-color:#3DCFD3;
  }
  .btn-secondary:hover{
    background:#3DCFD3;
    color:#070606;
  }
  
  