
<body>
    <div class="site-main-wrapper">
        <button class="hamberger">
            <img src="./hamberger.svg" alt="">
        </button>

        <div class="mobile-nav">
            <button class="times"><img src="./times.svg" alt=""></button>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Project</a></li>
                <li><a href="#">Cert.</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <header>
            <div class="container">
                <nav id="main-nav" class="flex items-center justify-between">
                    <div class="left flex items-center">
                        <div class="branding">
                            <img src="./logo.svg" alt="">
                        </div>
                        <div>
                            <a href="#">Home</a>
                            <a href="#about">About</a>
                            <a href="#services">Services</a>
                            <a href="#work">Project</a>
                            <a href="#blog">Cert.</a>
                            <a href="#contact">Contact</a>
                        </div>
                    </div>
                    <div class="right">
                        <button class="btn btn-primary">Contact</button>
                    </div>
                </nav>
                <div class="hero flex items-center justify-between">
                    <div class="left flex-1 flex justify-center">
                        <img src="./man.png" alt="">
                    </div>
                    <div class="right flex-1">
                        <h6>Kamsakumar</h6>
                        <h1>I’m a  <span>Software Engineer</span></h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco
                            laboris
                            nisi ut aliquip ex ea commodo consequat</p>
                        <div>
                            <button class="btn btn-secondary">Hire me</button>
                        </div>
                    </div>
                </div>
            </div>
        </header>    
    </div>
</body>

